@charset "UTF-8";
@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Bold.eot");
  src: local("☺"), url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype"), url("../fonts/TTNorms-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Medium.eot");
  src: local("☺"), url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.ttf") format("truetype"), url("../fonts/TTNorms-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Regular.eot");
  src: local("☺"), url("../fonts/TTNorms-Regular.woff") format("woff"), url("../fonts/TTNorms-Regular.ttf") format("truetype"), url("../fonts/TTNorms-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "TTNorms";
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.links, .nav-menu-links, .header-icon_links, .telephone-desctop, .telephone, .mobile-links {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.card-list-grid, .clients-list, .cases-list, .services-list, .nav-menu-list, .language, .mobile-nav .mobile-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1440px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 60px;
  }
}

.mobile {
  padding-top: 22px;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.header-mobile {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button:hover, .menu-button:focus {
  background-color: #ededf7;
  border-radius: 12px;
}
.menu-button:hover .icon-menu, .menu-button:focus .icon-menu {
  fill: #323264;
}
.menu-button.is-open {
  position: absolute;
  right: 23px;
  bottom: 304px;
}
.menu-button.is-open .menu-button__icon .icon-close {
  opacity: 1;
  fill: #ec6f5d;
}
.menu-button.is-open .menu-button__icon .icon-menu {
  opacity: 0;
}

.icon-close {
  opacity: 0;
}

.menu-button__icon .icon-menu {
  opacity: 1;
  fill: #ffffff;
}

.mobile-nav {
  opacity: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(50, 50, 100, 0.7);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav.is-open {
  opacity: 1;
  transform: translateX(0);
}
.mobile-nav .mobile-list {
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 348px;
  overflow-x: scroll;
  background-color: #ffffff;
  border-radius: 12px 12px 0px 0px;
  padding-top: 63px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.mobile-item {
  display: inline-block;
  height: 44px;
  background: #f5f5fa;
  border-radius: 12px;
  text-align: center;
}
.mobile-item:not(:last-child) {
  margin-bottom: 11px;
}
.mobile-item:hover, .mobile-item:focus {
  background: #ededf7;
}

.mobile-links {
  display: inline-block;
  padding: 8px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  color: #24a3ff;
}

.gradient {
  background-image: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.language {
  display: flex;
  justify-content: space-between;
}

.telephone {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.18;
  color: #b3b3ba;
}

.button-lang {
  display: inline-block;
  width: 29px;
  height: 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
.button-lang:hover, .button-lang:focus {
  background: #ededf7;
  border-radius: 8px;
}

.button-lang-mobile {
  color: #b3b3ba;
}

.current-lang {
  color: #ffffff;
  background: #f0145a;
  border-radius: 8px;
}

.desctop-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .desctop-menu {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  width: 100px;
}
@media screen and (min-width: 1200px) {
  .logo {
    width: 155px;
    height: 62px;
  }
}

.top-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.desctop-language {
  margin-right: 20px;
}

.button-lang-desctop {
  color: #ffffff;
}

.header-address {
  margin-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.telephone-desctop {
  position: relative;
  margin-right: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.telephone-desctop::after, .telephone-desctop::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 50%;
  width: 6px;
  height: 6px;
  transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 50%;
}
.telephone-desctop::after {
  right: -14px;
}
.telephone-desctop::before {
  left: -14px;
}

.header-icon_links {
  display: inline-block;
  margin-left: 10px;
}

.header-icon {
  width: 24px;
  height: 24px;
}

.header-icon_facebook {
  fill: #ffffff;
}
.header-icon_facebook:hover {
  fill: #24a3ff;
}

.nav-menu-list {
  display: flex;
  justify-content: flex-end;
}

.nav-menu-item:not(:last-child) {
  margin-right: 15px;
}

.nav-menu-links {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  text-align: right;
  color: #ffffff;
}

.splash {
  padding-top: 138px;
  text-align: center;
  background-image: url(../../img/Symbol-Long-leg.svg);
  background-repeat: no-repeat;
  background-position: right -40px top 100px;
  background-size: 430px;
}
@media screen and (min-width: 375px) {
  .splash {
    background-position: right -10px top 100px;
  }
}
@media screen and (min-width: 375px) {
  .splash {
    background-position: right 50% top 100px;
  }
}

.splash-text {
  font-weight: normal;
  font-size: 38px;
  line-height: 1.18;
  margin-bottom: 63px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .splash-text {
    display: inline-block;
    width: 700px;
  }
}

.splash-gradient {
  padding-top: 138px;
  height: 200px;
  background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
}

.splash-button {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid #b3b3ba;
  border-radius: 50%;
  cursor: pointer;
}

.icon-scroll {
  fill: #ffffff;
}

.gradient-two {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.services {
  padding-top: 45px;
  padding-bottom: 10px;
}

.services-paragraph {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}
.services-paragraph::after {
  content: "";
  display: block;
  background-image: url(../../img/Liink-arrow.svg);
}

.services-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.18;
  color: white;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .services-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.services-item:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .services-item {
    flex-basis: calc((100% - 80px) / 2);
    margin-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .services-item {
    flex-basis: calc((100% - 120px) / 3);
    margin-right: 40px;
  }
}

.serviced-icon {
  margin-right: 10px;
  min-width: 64px;
  height: 64px;
  padding: 10px;
  background: #ffffff;
  border-radius: 18px;
  fill: #f0145a;
}

.services-block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .services-block {
    flex-direction: column;
    align-items: flex-start;
  }
}

.services-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #24a3ff;
}

.services-text {
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
  margin: 0;
}

.services-bg-one {
  height: 10px;
  margin: 0 20px;
  background: #cacadb;
  border-radius: 0px 0px 12px 12px;
}

.services-bg-two {
  height: 10px;
  margin: 0 40px 20px 40px;
  background: #e7e7f2;
  border-radius: 0px 0px 12px 12px;
}

.cases {
  background-color: #f5f5fa;
  margin-bottom: 30px;
  border-radius: 12px 0px 12px 12px;
}

.cases:focus .cases:hover {
  background-color: #ededf7;
}

.title-cases {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f0145a;
}

.cases-list {
  display: grid;
}
@media screen and (min-width: 768px) {
  .cases-list {
    grid-template: 57px repeat(2, 1fr)/repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .cases-list {
    grid-template: 57px 150px 198px/1fr minmax(320px, 454px) 1fr;
  }
}

.cases-item {
  padding: 20px 0 20px 20px;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cases-item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (min-width: 1200px) {
  .cases-item-2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }
}

@media screen and (min-width: 1200px) {
  .cases-item-3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
  }
}

.cases-description {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "TT Norms";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: #686887;
}
@media screen and (min-width: 768px) {
  .cases-description {
    font-size: 20px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .cases-description {
    font-size: 24px;
    line-height: 1.16;
  }
}

.cases-company {
  margin: 0;
  font-size: 18px;
  line-height: 1.44;
  color: #b3b3ba;
}

.clients-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}

.clients-list {
  display: grid;
  grid-template: repeat(6, 90px)/1fr 1fr;
}
@media screen and (min-width: 768px) {
  .clients-list {
    grid-template: repeat(4, 105px)/repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    grid-template: repeat(3, 120px)/repeat(4, 1fr);
    grid-template-areas: "hillel WannaBiz tapgerine 3dLook" "orangear adtelligent clickky ecoleasing" "infratek Citypark art-print Ultimatecard";
  }
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item-1 {
  background-color: #1c4280;
  padding: 28px 15px;
}
@media screen and (min-width: 1200px) {
  .clients-item-1 {
    grid-area: hillel;
  }
}

.clients-item-2 {
  background-color: #143646;
  padding: 32px 9px;
}
@media screen and (min-width: 1200px) {
  .clients-item-2 {
    grid-area: WannaBiz;
  }
}

.clients-item-3 {
  background-color: #f48b30;
  padding: 25px 14px;
}
@media screen and (min-width: 1200px) {
  .clients-item-3 {
    grid-area: tapgerine;
  }
}

.clients-item-4 {
  background-color: #9e4dc3;
  padding: 28px 20px;
}
@media screen and (min-width: 1200px) {
  .clients-item-4 {
    grid-area: 3dLook;
  }
}

.clients-item-5 {
  background-color: #dcf3f9;
}
@media screen and (min-width: 1200px) {
  .clients-item-5 {
    grid-area: ecoleasing;
  }
}

.clients-item-6 {
  background-color: #c71c36;
}
@media screen and (min-width: 1200px) {
  .clients-item-6 {
    grid-area: clickky;
  }
}

.clients-item-7 {
  background-color: #fd9339;
}
@media screen and (min-width: 1200px) {
  .clients-item-7 {
    grid-area: orangear;
  }
}

.clients-item-8 {
  background-color: #eaeaea;
}
@media screen and (min-width: 1200px) {
  .clients-item-8 {
    grid-area: infratek;
  }
}

.clients-item-9 {
  background-color: #000000;
}
@media screen and (min-width: 1200px) {
  .clients-item-9 {
    grid-area: Ultimatecard;
  }
}

.clients-item-10 {
  background-color: #1d4568;
}
@media screen and (min-width: 1200px) {
  .clients-item-10 {
    grid-area: art-print;
  }
}

.clients-item-11 {
  background-color: #282240;
}
@media screen and (min-width: 1200px) {
  .clients-item-11 {
    grid-area: Citypark;
  }
}

.clients-item-12 {
  background-color: #e2e2e4;
}
@media screen and (min-width: 1200px) {
  .clients-item-12 {
    grid-area: adtelligent;
  }
}

@media screen and (min-width: 1200px) {
  .clients-1 {
    width: 217px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-2 {
    width: 199px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-3 {
    width: 179px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-4 {
    width: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-5 {
    width: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-6 {
    width: 135px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-7 {
    width: 174px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-8 {
    width: 182px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-9 {
    width: 152px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-10 {
    width: 189px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-11 {
    width: 181px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-12 {
    width: 187px;
  }
}

.publications {
  position: relative;
  background: #f5f5fa;
  padding: 20px 20px 40px 20px;
}
@media screen and (min-width: 768px) {
  .publications {
    padding: 30px 30px 40px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .publications {
    padding: 40px 59px 0 59px;
    height: 872px;
    overflow: hidden;
  }
}

.publications-paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

@media screen and (max-width: 639px) {
  .card-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0, 2s ease-out;
  }
}

.card-list-grid {
  display: grid;
}
@media screen and (min-width: 640px) {
  .card-list-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .card-list-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "article-one  article-two article-four" "article-three article-five article-six";
    gap: 40px;
  }
}

@media screen and (max-width: 639px) {
  .card-item-grid:nth-child(n+4) {
    display: none;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .card-item-grid:nth-child(n+5) {
    display: none;
  }
}

.card-item-grid.is-visible {
  display: block;
}

@media screen and (min-width: 1024px) {
  .article-one {
    grid-area: article-one;
  }
}

@media screen and (min-width: 1024px) {
  .article-two {
    grid-area: article-two;
  }
}

@media screen and (min-width: 1024px) {
  .article-three {
    grid-area: article-three;
    align-self: start;
  }
}

@media screen and (min-width: 1024px) {
  .article-four {
    grid-area: article-four;
  }
}

@media screen and (min-width: 1024px) {
  .article-five {
    grid-area: article-five;
  }
}

@media screen and (min-width: 1024px) {
  .article-six {
    grid-area: article-six;
  }
}

.card {
  background: #ffffff;
  border-radius: 8px;
}

.card-img {
  width: 100%;
}

.card-thmb {
  padding: 20px;
}

.card-button {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  text-align: left;
  color: #24a3ff;
}

.card-time {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
}

.card-line {
  margin: 0 20px;
  border: 1px solid #e6e6f0;
}
@media screen and (min-width: 768px) {
  .card-line {
    border: 2px solid #e6e6f0;
  }
}

.card-text {
  margin: 0;
  padding: 20px;
  font-size: 16px;
  line-height: 1.38;
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .publications-gradient {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #f5f5fa 86.5%);
  }
}

.btn-center {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .btn-center {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
  }
}

.show-more {
  margin-top: 40px;
  padding: 16px 78px;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  background: #24a3ff;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
}

.show-more :hover,
.show-more :focus {
  background: #0085ff;
}

.footer {
  background-color: #f5f5fa;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 767px) {
  .footer {
    padding-bottom: 81px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 0 60px 40px 60px;
  }
}

.footer-line {
  height: 4px;
  width: 100%;
  background-color: #e6e6f0;
}

.footer-content {
  margin-top: 20px;
}
@media screen and (min-width: 767px) {
  .footer-content {
    margin-top: 29px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}

.footer-contact-addrs {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .footer-contact-addrs {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .footer-contacts {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 29px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-contacts {
    justify-content: start;
  }
}

.address {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18px;
  margin: 0;
  color: #323264;
}
@media screen and (min-width: 768px) {
  .address {
    margin-right: 26px;
  }
}
.address::after {
  position: absolute;
  display: inline-block;
  content: "";
  top: 50%;
  width: 6px;
  height: 6px;
  transform: translateY(-50%);
  background-color: #b3b3ba;
  border-radius: 50%;
}
.address::after {
  right: -14px;
}

.links {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links:hover, .links:focus {
  color: #f0145a;
}

.footer-text {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
@media screen and (max-width: 767px) {
  .footer-text {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer-links-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-icon {
  height: 38px;
  width: 38px;
  fill: #24a3ff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .footer-icon {
    margin: 20px 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-icon {
    margin-right: 17px;
  }
}

.footer-icon :hover,
.footer-icon:focus {
  fill: #f0145a;
}

.footer-tel {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: #46466e;
}
@media screen and (max-width: 767px) {
  .footer-tel {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-tel {
    margin-right: 27px;
  }
}
.footer-tel::after, .footer-tel::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 50%;
  width: 6px;
  height: 6px;
  transform: translateY(-50%);
  background-color: #b3b3ba;
  border-radius: 50%;
}
.footer-tel::after {
  right: -14px;
}
.footer-tel::before {
  left: -10px;
}

.footer-mail {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: #24a3ff;
}
@media screen and (max-width: 767px) {
  .footer-mail {
    margin-bottom: 20px;
  }
}

.footer-copy-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #b3b3ba;
}/*# sourceMappingURL=main.css.map */